
body {
    font-family: *roboto*,Georgia;
    
        
        margin: 50px 305px 305px 305px;   /*a verifier */
}





    nav img {

    width: 97px;
    height: 45px;
    }
    
H1 {
    font-weight: bold;
}

nav {
    display:flex;
    justify-content: space-between;
    
}
nav ul {
    display:flex;
    list-style: none;
}
nav li {
    margin-right: 73px;
    display:flex;

}
li {
    color:rgb(11, 96, 206);
    
}

.see {
    display: flex;

}
.logo {
    display: flex;
    align-items: center;
    
}

.logo2 {

border: rgb(202, 195, 195) solid 1px;
width: 40px;
height: 40px;
border-radius: 20px;
color: rgb(11, 96, 206);

display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
margin: 5px;


}

.information {
height: 50px;
width: 500px;
    border: solid 2px blueviolet;
    
    display: flex;
}





.col {
    font-size: 24px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0 0 0 0;
}


/*  mise en place de la premiere image model -------------largeur image*/
.bloc {
    border:solid black 2px;
    width: 880px;
    height: 623px;
    background-color: rgb(212, 211, 211);
    
}



.case {

    border: solid 4px rgb(41, 38, 44);
    width: 246px;
    border: solid 4px rgb(255, 255, 255);
    border-radius: 35px;
    
}



.one {

height: 115px;
width: 246px;
border-radius: 35px;

}
/* rating stars*/
.etoiles { height: 100px;}
                      .fa-star.gold { color: rgb(28, 115, 245) }
                                    .stars {color:rgb(179, 208, 250);}
