
body {
    font-family: *roboto*,Georgia;
    font-size: 18px;
        
        margin: 50px 305px 305px 305px;   /*a verifier */
}
    
    nav img {

    width: 97px;
    height: 45px;
    }
    
H1 {
    font-weight: bold;
}

nav {
    display:flex;
    justify-content: space-between;
    
}
nav ul {
    display:flex;
    list-style: none;
}
nav li {
    margin-right: 73px;
    display:flex;

}
li {
    color:rgb(11, 96, 206);
    
}

.see {
    display: flex;

}
.logo {
    display: flex;
    align-items: center;
    }

.barre {
    display: flex;
    align-items:center;
    font-size: 25px;
    background-color: darkorchid;
}
.rere {
    background-color: #0166fc;

    border-radius: 0px 15px 15px  0;
}
.kara {
    font-size: 16px;
    font-weight: bold;
}
.kara2 {
    font-weight: bold;
    font-color: rgb(255, 255, 255) ;
}

.col {
    font-size: 24px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0 0 0 0;
}
.bedroom {
width: 237px;
height: 118px;
}

/*Etoiles*/


.fa-star.gold {
	color: blue;


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:black;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:black;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color:black;
  }

  .styled {    /*button recherche*/
    border-radius: 0 15px 0 15px 0 ;
    line-height: 2.5;
    padding: 1px 35px 0 35px ; 
  
    font-size: 1rem;
    text-align: center;
    color: white;
     border-radius: 0px 20px 20px 0px;
    background-color: #0166fc;
      
.styled:hover {
    background-color: blue;
}

